.flashcard {
  background-color: var(--card-accent-color); /* Use distinct card accent color */
  border-radius: 16px;
  box-shadow: 0 6px 10px var(--shadow-color);
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px var(--shadow-color);
  }

  &.selected {
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  &.incorrect {
    background-color: var(--error-color);
    color: #ffffff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}
