:root {
  /* Light mode colors */
  --background-color: #f9f9f9;
  --card-background-color: #ffffff;
  --card-accent-color: #f4f4f4; /* New light card color */
  --text-color: #333333;
  --primary-color: #4caf50;
  --error-color: #f44336;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-primary-color: #007bff; /* Blue for buttons */
  --button-hover-color: #0056b3; /* Darker blue on hover */
  --button-disabled-color: #d6d6d6; /* Gray for disabled buttons */
}

.dark-mode {
  /* Dark mode colors */
  --background-color: #121212;
  --card-background-color: #1e1e1e;
  --card-accent-color: #2a2a2a; /* New dark card color */
  --text-color: #e0e0e0;
  --primary-color: #81c784;
  --error-color: #e57373;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --button-primary-color: #1e88e5;
  --button-hover-color: #1565c0;
  --button-disabled-color: #3a3a3a;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}
